<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>相册管理</title>
	</head>
	<style>
	</style>
	<body ng-app="myapp" ng-controller="mycon">
		<div class="container text-center">
			<div class="alert-warning header row">
				<div class="col-md-3 col-xs-3"></div>
				<div class="col-md-6 col-xs-6"><label>云相册</label></div>
				<div class="col-md-3 col-xs-3 text-right">
					<button class="btn btn-xs" ng-click="addAlbum()">新建相册</button>
				</div>
			</div>
			<div class="bodyer row">
					<div class="col-md-6 col-xs-12" ng-repeat="u in list">
						<div class="text-center">
							<img src="../css/img/1.jpg"/>
						</div>
						<div class="t_link">
							<a>{{u.name}}</a>
						</div>
					</div>
			</div>
			<div class="footer text-center row">
				<div class="col-md-3 col-xs-3 icon">
					<i class="iconfont">&#xe60c;</i>
				</div>
				<div class="col-md-3 col-xs-3 icon">
					<i class="iconfont">&#xe61a;</i>
				</div>
				<div class="col-md-3 col-xs-3 icon">
					<i class="iconfont">&#xe7ed;</i>
				</div>
				<div class="col-md-3 col-xs-3 icon">
					<i class="iconfont">&#xe64f;</i>
				</div>
			</div>
		</div>
	</body>
	<link href="../css/css/app.css" rel="stylesheet" style="text/css">
		<link href="../css/css/bootstrap.min.css" rel="stylesheet" style="text/css"/> 
		<script type="text/javascript" src="../css/js/jquery-2.0.3.js"></script>
		<script type="text/javascript" src="../css/js/angular.min.js"></script>
		<script type="text/javascript" src="../css/js/bootstrap.js"></script>
	<script>
		var app = angular.module("myapp",[]);
		app.controller("mycon",function($scope,$http){
			 $scope.getPage=function(p){
				$http({
					method:'post',
					url:'../data/datas.html'
				}).then(function successCallback(res){
					$scope.list=res.data.list;
				},function errorCallback(res){
					
				});
			};
			$scope.getPage(1);
			
			//新建相册
			$scope.addAlbum=function(){
				location.href="./addAlbum.html";
			};
		});
	</script>
</html>